# Headerless Horseman

In this activity, youâ€™ll update the column headers of a DataFrame.


Instructions:

1. Import the Pandas and `pathlib` libraries.

2. Define the relative path to the CSV file by using the `Path` module.

3. Use the Pandas `read_csv` function to create the DataFrame.

4. Use the `head` function to view the first five rows of the DataFrame.

5. Create a list of column names that contains the values `Date`, `Cisco`, `Dell`, `Intel`, and `Microsoft`.

6. Assign the list of column names as the column headers for the DataFrame.

7. To confirm that Pandas correctly assigned the column headers, call the `head` function to view the first five rows of the DataFrame.
   

References:

[Pandas read_csv function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)


[Pandas head function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html)

## Step 1: Import the Pandas and `pathlib` libraries.

In [1]:
# Import the Pandas library
import pandas as pd


# Import the Path module from the pathlib library
from pathlib import Path

## Step 2: Define the relative path to the CSV file by using the `Path` module.

In [2]:
# Using the Path module, set the relative path to the "the_four_horsemen.csv" file
# This "the_four_horsemen.csv" file is located in your Resources folder
csvpath = Path("../Resources/the_four_horsemen.csv")

## Step 3. Use the Pandas `read_csv` function to create the DataFrame.

In [3]:
# Use the Pandas read_csv function to create the DataFrame
# Read in the `csvpath` variable 
# To the `read_csv` function, add the parameter header and set it equal to the value None
horsemen_df = pd.read_csv(csvpath, header=None)

## Step 4: Use the `head` function to view the first five rows of the DataFrame.

In [4]:
# Call the head function to review the first 5 rows of the DataFrame
horsemen_df.head()

        0      1      2      3      4
0  1/4/99  30.20  44.91  23.83  34.67
1  1/5/99  30.81  44.60  24.23  36.63
2  1/6/99  32.38  45.43  24.94  37.81
3  1/7/99  32.31  48.87  25.91  37.63
4  1/8/99  32.42  47.12  26.67  37.47

## Step 5: Create a list of column names that contains the values `Date`, `Cisco`, `Dell`, `Intel`, and `Microsoft`.

In [5]:
# Create a list that contains the names that will be used for the column header
# The values, in order, are: 'Date', 'Cisco', 'Dell', 'Intel', 'Microsoft'
columns = ['Date', 'Cisco', 'Dell', 'Intel', 'Microsoft']

## Step 6: Assign the list of column names as the column headers for the DataFrame.

In [6]:
# Call the 'horseman_df' and the `columns` attribute
# Set that equal to the variable name assigned to the list of column names
horsemen_df.columns = columns

## Step 7: To confirm that Pandas correctly assigned the column headers, call the `head` function to view the first five rows of the DataFrame.

In [7]:
# Call the head function to review the first 5 rows of the DataFrame
# Confirm that the column headers have been assigned appropriately
horsemen_df.head()

     Date  Cisco   Dell  Intel  Microsoft
0  1/4/99  30.20  44.91  23.83      34.67
1  1/5/99  30.81  44.60  24.23      36.63
2  1/6/99  32.38  45.43  24.94      37.81
3  1/7/99  32.31  48.87  25.91      37.63
4  1/8/99  32.42  47.12  26.67      37.47